<!--The content below is only a placeholder and can be replaced.-->
<div class="mat-app-background mainDiv">
  <navigator></navigator>
  <mat-sidenav-container style="height: 100%;">
    <mat-sidenav mode="side" opened>
        <booking-form></booking-form>
    </mat-sidenav>
    <mat-sidenav-content>
      <booking-list></booking-list>
    </mat-sidenav-content>
  </mat-sidenav-container> 
  
</div>

<!-- <p-accordion>
  <p-accordionTab header="Header 1">
    Content 1
  </p-accordionTab>
  <p-accordionTab header="Header 2">
    Content 2
  </p-accordionTab>
</p-accordion> -->

<!-- <p-fileUpload name="file[]" customUpload="true" (uploadHandler)="onUpload($event)"></p-fileUpload> -->


