.bookingList {
    margin-left: 50px;
}

.marginDiv {
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
}

.circle {
    width: 5em;
    height: 5em;
    border: 5px solid #b2b2b2;
    border-right-color: #6ebc3b;
    border-top-color: #6ebc3b;
    border-bottom-color: #6ebc3b;
    border-radius: 50%;
    margin: auto;
}

.circle > span {
    position: relative;
    vertical-align: middle;
    text-align: center;
    top: 35%;
    left: 35%;
    color: #6ebc3b;
    font-weight: bold;
}

.progressBarValue {
    position: relative;
    left: 45%;
    bottom: 18px;
}