<mat-form-field>
    <input matInput (keyup)="filterBookings($event.target.value)" placeholder="Suche...">
</mat-form-field>
<table mat-table [dataSource]="bookingDataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef class="dateColumn">Datum</th>
        <td mat-cell *matCellDef="let booking">{{booking.date | date : 'dd.MM.yyyy' }}</td>
    </ng-container>

    <ng-container matColumnDef="referenceNo">
        <th mat-header-cell *matHeaderCellDef class="refNoColumn">Beleg-Nr.</th>
        <td mat-cell *matCellDef="let booking">{{booking.referenceNumber}}</td>
    </ng-container>

    <ng-container matColumnDef="bookingDescription">
        <th mat-header-cell *matHeaderCellDef class="descriptionColumn">Buchungstext</th>
        <td mat-cell *matCellDef="let booking">{{booking.bookingDescription}}</td>
    </ng-container>

    <ng-container matColumnDef="shouldLedger">
        <th mat-header-cell *matHeaderCellDef class="ledgerColumn">Soll</th>
        <td mat-cell *matCellDef="let booking">{{booking.ledgerShould.ledgerNumber}}</td>
    </ng-container>

    <ng-container matColumnDef="subShouldLedger">
        <th mat-header-cell *matHeaderCellDef class="ledgerColumn">NK Soll</th>
        <td mat-cell *matCellDef="let booking">{{booking.subLedgerShould | ledgerElementNull}}</td>
    </ng-container>

    <ng-container matColumnDef="haveLedger">
        <th mat-header-cell *matHeaderCellDef class="ledgerColumn">Haben</th>
        <td mat-cell *matCellDef="let booking">{{booking.ledgerHave.ledgerNumber}}</td>
    </ng-container>

    <ng-container matColumnDef="subHaveLedger">
        <th mat-header-cell *matHeaderCellDef class="subLedgerHaveColumn">NK Haben</th>
        <td mat-cell *matCellDef="let booking">{{booking.subLedgerHave | ledgerElementNull}}</td>
    </ng-container>

    <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef>Betrag</th>
        <td mat-cell *matCellDef="let booking">{{booking.value}} €</td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Aktionen</th>
        <td mat-cell *matCellDef="let booking">
            <button mat-icon-button>
                <mat-icon aria-label="Buchung löschen" (click)="deleteBooking(booking)">delete_outline</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon id="booking_btn_edit_{{booking.id}}" aria-label="Buchung bearbeiten" (click)="editBooking(booking)">create</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedBookingColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedBookingColumns;"></tr>
</table>