<div>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Konto anlegen</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form #ledgerForm="ngForm" (ngSubmit)="ledgerForm.form.valid && onSubmit(ledgerForm)">
                <div class="form-group">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Name" id="name" required
                        [(ngModel)]="ledger.name" name="name" #name="ngModel">
                        <mat-error *ngIf="name.invalid && name.errors.required">Name darf nicht leer sein.</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <input matInput type="number" placeholder="Kontonummer"  id="ledgerNumber" required
                        [(ngModel)]="ledger.ledgerNumber" name="ledgerNumber" #ledgerNumber="ngModel"> 
                        <mat-error *ngIf="ledgerNumber.invalid && ledgerNumber.errors.required">Kontonummer darf nicht leer sein.</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <textarea matInput placeholder="Beschreibung" [(ngModel)]="ledger.description" name="description"></textarea>
                    </mat-form-field>
                </div>
                <div class="form-group form-checkbox">
                    <mat-checkbox [(ngModel)]="ledger.subLedger" name="subLedger">Nebenkonto</mat-checkbox>
                </div>
                <button mat-stroked-button color="primary" type="submit">Speichern</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>