.booking-form-container {
    display: flex;
    flex-direction: column;
}

.block-form-container {
    text-align: left;
}

.leftMargin {
    margin-left: 10px;
}

.btn-booking-form {
    width: 132px;
    height: 58px;
}

.booking-form-actions {
    text-align: left;
}