<!-- <div>
    <mat-grid-list cols="5" rowHeight="200px">
        <mat-grid-tile>
            <button class="categoryBtn">Auto</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button class="categoryBtn">Abos</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button class="categoryBtn">Computerspiele</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button class="categoryBtn">Arbeit</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button class="categoryBtn">Haushalt</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-icon-button class="categoryBtn">
                <mat-icon>add_circle_outline</mat-icon>
            </button>
        </mat-grid-tile>
    </mat-grid-list>
</div> -->
<!-- <div class="category-tiles">
    <div class="categoryDiv">
        <button mat-raised-button color="primary" class="categoryBtn">
            <mat-icon class="tile-icon">add_circle_outline</mat-icon>
            <p>Kategorie hinzufügen</p>
        </button>
    </div>
    <div class="categoryDiv">
        <button mat-raised-button color="primary" class="categoryBtn">Test</button>
    </div>
    <div class="categoryDiv">
        <button mat-raised-button color="primary" class="categoryBtn">Test</button>
    </div>
    <div class="categoryDiv">
        <button mat-raised-button color="primary" class="categoryBtn">Test</button>
    </div>
    <div class="categoryDiv">
        <button mat-raised-button color="primary" class="categoryBtn">Test</button>
    </div>
    <div class="categoryDiv">
        <button mat-raised-button color="primary" class="categoryBtn">Test</button>
    </div>
    <div class="categoryDiv">
        <button mat-raised-button color="primary" class="categoryBtn">Test</button>
    </div>
    <div class="categoryDiv">
        <button mat-raised-button color="primary" class="categoryBtn">Test</button>
    </div>
    <div class="categoryDiv">
        <button mat-raised-button color="primary" class="categoryBtn">Test</button>
    </div>
    <div class="categoryDiv">
        <button mat-raised-button color="primary" class="categoryBtn">Test</button>
    </div>
    <div class="categoryDiv">
        <button mat-raised-button color="primary" class="categoryBtn">Test</button>
    </div>
</div> -->

<div>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
            <button mat-icon-button disabled></button>
            {{node.name}}
        </mat-tree-node>

        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
            </button>
            {{node.name}}
        </mat-tree-node>        
    </mat-tree>
</div>
