<!-- <div>
    <mat-grid-list cols="5" rowHeight="200px">
        <mat-grid-tile>
            <button class="categoryBtn">Auto</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button class="categoryBtn">Abos</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button class="categoryBtn">Computerspiele</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button class="categoryBtn">Arbeit</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button class="categoryBtn">Haushalt</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-icon-button class="categoryBtn">
                <mat-icon>add_circle_outline</mat-icon>
            </button>
        </mat-grid-tile>
    </mat-grid-list>
</div> -->
<div class="category-tiles">
    <div class="categoryDiv">
        <button mat-raised-button color="primary" class="categoryBtn">Test</button>
    </div>
    <div class="categoryDiv">
        <button mat-raised-button color="primary" class="categoryBtn">Test</button>
    </div>
    <div class="categoryDiv">
        <button mat-raised-button color="primary" class="categoryBtn">Test</button>
    </div>
    <div class="categoryDiv">
        <button mat-raised-button color="primary" class="categoryBtn">Test</button>
    </div>
    <div class="categoryDiv">
        <button mat-raised-button color="primary" class="categoryBtn">Test</button>
    </div>
    <div class="categoryDiv">
        <button mat-raised-button color="primary" class="categoryBtn">Test</button>
    </div>
    <div class="categoryDiv">
        <button mat-raised-button color="primary" class="categoryBtn">Test</button>
    </div>
    <div class="categoryDiv">
        <button mat-raised-button color="primary" class="categoryBtn">Test</button>
    </div>
    <div class="categoryDiv">
        <button mat-raised-button color="primary" class="categoryBtn">Test</button>
    </div>
    <div class="categoryDiv">
        <button mat-raised-button color="primary" class="categoryBtn">Test</button>
    </div>
    <div class="categoryDiv">
        <button mat-icon-button class="categoryBtn">
            <mat-icon>add_circle_outline</mat-icon>
        </button>
    </div>
</div>
